@model DBTuntiLeimaus.DataAccess.TuntiRaportti

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/OpettajaEditLayout.cshtml";
}

<h2>Poista</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h4>Tuntiraportti</h4>
    <h3>Oletko varma, että haluat poistaa tämän raportin?</h3>
    <div class="form-horizontal" align="center">
        <dl class="dl-horizontal" align="center">
            <dt>
                @Html.DisplayNameFor(model => model.Sisaan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sisaan)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ulos)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ulos)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AspNetUsers.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AspNetUsers.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Luokkahuone.LuokkahuoneenNimi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Luokkahuone.LuokkahuoneenNimi)
            </dd>
        </dl>

    </div>
    <div class="form-actions no-color" align="center">
        <input type="submit" value="Poista" class="btn btn-secondary"/> 
    </div>
}

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Takaisin listaan", "TuntiRaporttiOpettaja")
        </div>
    }


