@model IEnumerable<DBTuntiLeimaus.ViewModels.LeimausViewModel>

@{
    ViewBag.Title = "TuntiRaporttiOpettaja";
}

<h2>TuntiRaporttiOpettaja</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sisään)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ulos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Luokkahuone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sisään)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ulos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Luokkahuone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
