@using DBTuntiLeimaus.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayoutPage1.cshtml";
}

<h2>Kirjaudu sisään</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Kirjaudu paikallisella tilillä</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Rekisteröidy uutena käyttäjänä", "Rekisteröidy")
                </p>
 
            }
        </section>
    </div>
    <div class="col-md-4">
        @*<section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>*@
        <form action="/action_page.php">
            <div class="row">
                <h4 style="text-align:center">Kirjaudu sosiaalisen median tilillä</h4>

                @*<div class="col">*@
                <fa style="text-align: center"></fa>
                <div class="col-md-10">
                    <a href="#" class="fa fa-facebook"> Kirjaudu Facebook tunnuksilla</a>
                        <a href="#" class="fa fa-twitter">  Kirjaudu Twitter tunnuksilla</a>
                            <a href="#" class="fa fa-google">  Kirjaudu Google+ tunnuksilla</a>
                            @*</div>*@
                        </div>
                </div>
</form>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}  