@using DBTuntiLeimaus.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayoutPage1.cshtml";
}

<h2>Sisään kirjautuminen</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h6>Kirjaudu sisään käyttäjätunnuksella ja salasanalla</h6>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, "Käyttäjätunnus", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, "Salasana", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe, "Muista minut ")

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Kirjaudu" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Kirjaudu uutena käyttäjänä", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    <div class="col-md-4">
        @*<section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>*@
        <form action="/action_page.php">
            <div class="row">
                <h4 style="text-align:center">Kirjaudu sisään sosiaalisen median kautta</h4>

                @*<div class="col">*@
                <fa style="text-align: center"></fa>
                <div class="col-md-10">
                    <a href="#" class="fa fa-facebook"> Kirjaudu Facebook tunnuksilla</a>
                        <a href="#" class="fa fa-twitter"> Kirjaudu Twitter tunnuksilla</a>
                            <a href="#" class="fa fa-google"> Kirjaudu Google+ tunnuksilla</a>
                            @*</div>*@
                        </div>
                </div>
</form>
    </div>

    @*<div class="bottom-container">
        <div class="row">
            <div class="col">
                <a href="#" style="color:white" class="btn">Sign up</a>
            </div>
            <div class="col">
                <a href="#" style="color:white" class="btn">Forgot password?</a>
            </div>
        </div>
    </div>*@
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}  