<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="path_to/simplePagination.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <style>
        body {
            background-image: url('../../Images/etusivu_taustakuva_iso.png');
            background-size: cover;
            padding: 30px;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }

        h2 {
            color: white;
        }

        h4 {
            color: white;
        }

        p {
            color: white;
        }

        .col-md-8 {
            color: white;
            margin-top: 40px;
        }

        .col-md-4 {
            color: white;
            position: relative;
            border-radius: 5px;
            padding: 20px 0 30px 0;
            margin-top: 37px;
        }

        .fa-facebook {
            background: #3B5998;
            color: white;
            border-radius: 5px;
            padding: 12px 28px;
            width: 300px;
            margin: 20px 0 4px 0;
        }

        .fa-twitter {
            background: #55ACEE;
            color: white;
            border-radius: 5px;
            width: 300px;
            padding: 12px 28px;
            margin: 6px 0 4px 0;
            font: arial;
        }

        .fa-google {
            background: #dd4b39;
            color: white;
            border-radius: 5px;
            width: 300px;
            padding: 12px 28px;
            margin: 6px 0 4px 0;
        }

        input[type=submit] {
            background-color: white;
            color: black;
            cursor: pointer;
        }

            input[type=submit]:hover {
                background-color: floralwhite;
            }
        * {
            box-sizing: border-box;
        }

        .vl {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            border: 2px solid #ddd;
            height: 175px;
        }
    </style>

    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
     
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
